.logoContainer {
    position: relative;
    width: 7rem;
    margin-bottom: 3rem;
}

.marked {
    position: absolute;
    height: 70px;
    width: 80px;
    z-index: 40;
    mix-blend-mode: screen;
    background-color: #30807a;
    background-image: linear-gradient(white, #30807a, white);
}

.logo {
    margin-top: 1rem;
    margin-right: 0.75rem;
    animation: logo-spin 10s linear infinite;
}

.row, .login {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

@keyframes logo-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}